@charset "utf-8";



.wrapper {
    width: 100%;
}

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: pink;
}


/* ========== header ========== */
header {
    position: relative;
    width: 100%;
    height: 925px;
    background: url(/images/main-img.jpg) no-repeat;
}

/* title-loginmenu-mainmenu */
.title-loginmenu-mainmenu {
    position: relative;
    width: 100%;
    height: 100px;
    /* background-color: antiquewhite; */
}

/* title */
.title h1 {
    width: 200px; height: 100px;
    line-height: 100px;
    color: #fff;
    /* background-color: rgb(230, 129, 129); */
}

/* login-menu */
.login-menu {
    position: absolute;
    right: 10px; top: 13px;
    /* background-color: aliceblue; */
}

.login-menu ul {
    display: flex;
    justify-content: space-between;
    width: 265px;
}

.login-menu li > a {
    padding: 0 5px  ;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    /* background-color: rgb(237, 161, 161); */
}

.login-menu li:nth-child(3) select {
    border: 0;
    color: #fff;
    background-color: transparent;
}

/* main-menu */
.main-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* background-color: rgb(92, 55, 55); */
}

.main-menu .gnb {
    display: flex;
    justify-content: center;
    width: 100%; height: 33px;
    /* background-color: rgb(190, 102, 102); */
}

.main-menu ul li{
    text-align: center;
}

.main-menu .gnb > li > a {
    padding: 0 22px 7px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    /* background-color: rgb(200, 147, 147); */
}

.main-menu .lnb li{
    font-size: 0;
}

/* main-banner */
.main-banner-text {
    color: #fff;
    background-color: mediumturquoise;
}

.main-banner-text strong {
    display: block;
    margin: 340px 0 48px;
    font-size: 48px;
}

.main-banner-text p {
    width: 680px;
    font-size: 16px;
}

.img-nav {
    position: absolute;
    left: 50%; bottom: -305px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 62px;
}

.main-banner span {
    display: block;
    content: '';
    width: 10px; height: 10px;
    border-radius: 50%;
    background-color: #fff;
}


/* ========== main ========= */
main {
    height: 1000px;
    background-color: lightblue;
}

/* reservation */
.reservation {
    position: absolute;
    left: 50%; top: 892px;
    transform: translateX(-50%);
    width: 620px; height: 66px;
    text-align: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    background-color: #fff;
}

.reservation h2 {
    font-size: 0;
}


.reservation form,
.reservation form input {
    font: 16px 'NanumSquareRound'; 
}

/* accommodations */
.accommodations {
    margin: 150px 0;
    height: 521px;
    background-color: purple;
}

/* gallery */
.gallery {
    height: 799px;
    margin-bottom: 94px;
    background-color: plum;
}

/* program-facilities-box */
.program-facilities-box {
    padding: 120px 0;
    background-color: #c2b7ad;
}

/* program */
.program > div {
    height: 590px;
    background-color: antiquewhite;
}


/* ========== footer ========== */
footer {
    background-color: skyblue;
}
